* {
    font-family: "Comic Sans MS", cursive, sans-serif;
} 
#wholepage {
    background-color: lightgray;

}
.page {
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 200px;
    padding-left: 30px;
}
.box {
    background-color: white;
    color:#25b4fc;
    font-family: "Comic Sans MS", cursive, sans-serif;

}
.howToTitle{
    font-size: 30px;
}
.mainTitle {
    font-size: 50px;
    text-align: center;
}
.yourScore {
    font-size: 30px;
}
.game {
    display: flex;
    justify-content: center;  
}

li {
    font-size: 20px;
}

h1 {
    color:#25b4fc
}
.leaderboard {
    font-size: 30px;
}

a{
    text-decoration: underline;
}
a:link {
    color: darkblue;
    
}
a:visited {
    color: rgb(0, 0, 90);
}
a:hover {
    text-decoration: underline;
}

.growButton { 
    transition: all .2s ease-in-out; 
}
.growButton:hover { 
    transform: scale(1.03); 
}


.startPadding {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
    padding-left: 0px;
}

.boardLinkPadding {
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
.howToPadding {
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 0px;
    padding-left: 15px;
}
#start {
    background-color: #25b4fc ;
    color:white;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
#playAgain {
    background-color: #25b4fc ;
    color:white;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.leftDevil {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
     
}
.devilCenter {
    display: flex;
    justify-content: center;  
}
.table {
    color:#25b4fc;
    font-family: "Comic Sans MS", cursive, sans-serif;
}